**/*.js

.DS_Store
node_modules
**/storybook-static

# local env files
.env.local
.env.*.local
.env.*

# Log files
npm-debug.log*

# backup files
*.bak

# dotenv environment variables file
.env
.env.test
.env.development
.env.production

